.membership__form {
	display: grid;
	position: relative;
}

.membership__input__container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.membership__input {
	flex-basis: 100%;
	padding: 1rem;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	border: none;
	font-size: 1.6rem;
}

.membership__input:focus {
	outline: none;
}

.membership__btn {
	justify-self: center;
	width: 100%;
	max-width: 20rem;
	padding: 1.5rem 3rem;
}

.membership__input__message {
	flex-basis: 100%;
	text-align: start;
	margin: 1rem 0;
	color: #ffa00a;
	font-size: 1.5rem;
	content: '';
}

.membership__placeholder {
	position: absolute;
	color: #8c8c8c;
	top: 50%;
	left: 1rem;
	z-index: 10;
	transform: translateY(-50%);
	font-size: 1.4rem;
	transition: all 0.3s ease-in-out;
}

.membership__input__container.on__focus .membership__placeholder {
	top: 1rem;
	font-size: 1.2rem;
}

.form__cta {
	font-size: 1.6rem;
	margin: 1rem 0;
	font-weight: 600;
}
