@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
	background: black;
}

html {
	font-size: 62.5%;
	color: white;
}

a {
	color: white;
}

a:active,
a:link,
a:visited {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	color: white;
}
